html{
    overflow:  hidden;
}
body{
    /*background: #003333;*/ 
    background-image:radial-gradient(at top, #fefcea, #203240);
    height: 100vh;
}
p{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 125%;
    color: #fff;
    text-align: center;
    
}
.mainbar{
    width: 600px;
    height: 337.5px;
    position: absolute;
    margin-left: 700px;
}
.mainbarday{
    position: relative;
    float: left;
    margin-top: 80px;
}
.mainbartemp{
    position: relative;
    float: left;
    margin-top: -60px;
    margin-left: 40px;
}
.boxForCity{
    width: 1200px;
    height: 675px;
    background: url(../img/Paris_Eiffel_Towe.jpg);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.bottomBar{
    width: 1200px;
    height: 155px;
    position: relative;
    background: rgba(0, 0, 0, 0.45);
    top: 520px;
}
.bttomContainer{
    display: inline-block;
    padding-left: 120px;
    width: 1100px;
    height: 155px;
}
.containerForButton{
    text-align: center;
    display: block;
    height: 155px;
    width: 30px;
    float: left;
}
#containerFordays{
    float: left;
    display:flex;
    width: 900px;
    height: 155px;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}
.day{
    position: relative;
    min-width: 225px;
    min-height: 155px;
    padding-top: -30px;

}
.border{ 
    display: block;
    border:0.5px solid #fff;
    width: 0.25px;
    margin-top: 22px;
    height: 110px;
}
.imgbutton{
    padding-top: 60px;
}
.containerForButton:hover{
    background: rgba(0, 0, 0, 0.75);
}
.weatherimg{
    position: absolute;
    padding-left: 70px;
    bottom: 30px;
}